DEBUG=True

#secret key from settings.py
SECRET_KEY=

#your postgresql db name
DB_NAME=

#your postgresql granted user 
DB_USER=

#your postgresql user password
DB_PASSWORD=

#
DB_HOST=localhost

#empty is ok
DB_PORT=